*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family:  Helvetica,Arial, sans-serif;
}
.clear{
    clear: both;
}

.text-white{
    color: white !important;
}
.text-center{
    text-align: center !important;
}
.pull-right{
    float: right;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}


.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.333333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}
.mt-32{
    margin-top: 32px;
}

#main {


}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}
#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;

}

#nav li {
    position: relative;
}

#nav > li > a {
    text-transform: uppercase;
    color: white;
}

#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px 0 24px ;
    display: inline-block;

}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color:black;
    background-color: #ccc;
}

#nav > li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
#nav .subnav a{
    line-height: 38px;
    width: 100%;
    padding: 0 12px;
    color: black;
}
#nav .nav-arrow-dow{
    font-size: 13px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float:right;
    padding:0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
.mobile-menu-btn:hover{
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: black;
}
#header .menu-icon,
#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/sllider/chicago.jpg') top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    color: white;
    bottom: 47px;
    width: 100%;
    text-align: center ;

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;

}
#content {

}
#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500px;
    letter-spacing: 4px;

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.7;
    margin-top: 25px;
}
#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
}
#content .member-list{
    margin-top: 32px;
}
#content .member-name{
    font-size: 15px;

}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;

}
/* tour-section */
.tour-section {
    background-color: black;
}
.ticket-list{
    background: white;
    margin-top: 40px;
}
.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;

}

.ticket-list .sold-out{
    background-color: red;
    color: white;
    padding: 4px;
    margin-left: 16px;

}

.ticket-list .quantity{
    color: white;
    float: right;
    width: 24px;
    height: 24px;
    background-color:black ;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
    
}
/* palaces */
.palaces-list{
    margin-top: 16px; 
}

.palace-img{
    display: block;
    width: 100%;
}
.palace-img:hover{
    opacity: 0.7;
    
}

.palace-body{
    background-color: white ;
    padding: 16px;
    font-size: 15px;

}

.palace-heading{
    font-size: 15px;
    font-weight: 600;

}

.palace-time{
    margin-top: 15px;
    opacity: 0.8;
    line-height: 1.4;

}
.palace-desc{
    margin-top: 15px;
    line-height: 1.4;

}

.btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
}
.btn:hover{
    color: black;
    background-color: #ccc ;
    cursor: pointer;
}

/* contact-form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.4 ;
}
.contact-info i [class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submut-btn{
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px 16px;
    float: right;
}
/* map */
.map-section img {
    width: 100%;
}
/* foodter */
#footer {
    padding: 64px 16px;
    text-align: center;

}
#footer .socials-list{
    font-size: 22px;

}
#footer .socials-list a{
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none; 
    /* gach chan */
}
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.5);

}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.8);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.8);
}
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.6);
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease .5s;
}
.modal-header{
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}
.modal .modal-heading-icon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-weight: 700;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-tickets{
    background-color: #009688;
    border: none;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 18px;
    opacity: 1;
    cursor: pointer;
}
#buy-tickets:hover{
    opacity: 0.8;
}
.modal-fotter {
    padding: 16px;
    text-align: right;
}
.modal-fotter a{
    color: #2196f3
}
@keyframes modalFaceIn {
    from {
        opacity: 0.2;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
